<template>
    <div class="prd">
      <v-app-bar fixed app>
        <v-toolbar-title v-text="title" />
        <v-spacer />
        <v-btn @click="addTodo">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-app-bar>
      <v-row class="row" v-for="todo in todos" :key="`todo-${todo.id}`">
        <v-col cols="9" class="checkbox">
          <v-checkbox
            hide-details
            v-model="todo.done"
            @change="changeStatus(todo)"
            color="success"
          ><template v-slot:label>
            <div>{{todo.label}}</div></template>
          </v-checkbox>
        </v-col>
        <v-col cols="3" align-self="center">
          <v-row justify="end">
            <v-btn icon @click="edit(todo.id)"><v-icon>mdi-pencil</v-icon></v-btn>
            <v-btn icon @click="removeTodo(todo.id)"><v-icon>mdi-delete</v-icon></v-btn>
          </v-row>
        </v-col>
      </v-row>
    </div>
</template>

<script>
import {mapState, mapGetters, mapMutations} from 'vuex'


export default {
  data() {
    return {
      title: 'todoapp',
    }
  },
  fetch() {
  },
  computed:{
    ...mapState(['todos']),
    ...mapGetters(['getTodos'])
  },
  methods:{
    ...mapMutations(['setTodos', 'removeTodo', 'editTodo', 'changeStatus']),
    addTodo(){
      this.$router.push('todo/add')
    },
    edit(todoId){
      this.$router.push({path:'todo/edit', query: { id: todoId }})
    }
  }
}
</script>
<style scoped>
.row{
  display: flex;
  vertical-align: middle;
  justify-content: center;

}
.v-input{
  margin-top: 0.5rem;
}
.btns-col{
  display: flex;
  justify-content: right;
  border-style: solid;
  border-color: #3b8070;

}


</style>
