<template>
  <div class="content">
    <v-row class="textline">
    <h3>Přidat úkol</h3>
    </v-row>
    <v-row>
      <v-text-field @keyup.enter="save" v-model="label" label="Název" outlined dense ></v-text-field>
    </v-row>
    <v-row>
      <v-btn @click="save">Uložit</v-btn>
      <v-btn @click="close">Zrušit</v-btn>
    </v-row>
  </div>
</template>

<script>
import {mapMutations} from "vuex"

export default {
name: "add",
  data(){
    return{
      label: '',
    }
  },
  methods:{
    ...mapMutations(["addTodo", "editTodo"]),
    save(){
      const todo = {
        id: new Date().getTime(),
        label: this.label,
        done: false
      }
      this.addTodo(todo)
      this.$router.push('/')
    },
    close(){
      this.$router.push('/')
    },
  }
}

</script>

<style scoped>
.content{
  margin: 2rem;
  align-content: space-between;
}
.textline{
  padding-bottom: 1rem;
}
</style>
