<template>
  <div class="content">
    <v-row class="textline">
      <h3>Upravit úkol</h3>
    </v-row>
    <v-row>
      <v-text-field @keyup.enter="save" v-model="label" label="Název" outlined dense ></v-text-field>
    </v-row>
    <v-row>
      <v-btn @click="save">Uložit</v-btn>
      <v-btn @click="close">Zrušit</v-btn>
    </v-row>
  </div>
</template>

<script>
import {mapState, mapGetters, mapMutations} from 'vuex'
import _ from "lodash";
export default {
  name: "edit",

  data(){
    return{
      id: Number(this.$route.query.id),
      label: '',
      todo: null,
    }
  },

  fetch() {
    this.todo= _.find(this.todos, {id:this.id})
    console.log(this.todo)
    if (this.todo === undefined){
      this.$router.push('/')
    }else{
      this.label = this.todo.label
    }
  },
  computed:{
    ...mapState(['todos']),
    ...mapGetters(['getTodos'])
  },
  methods:{
    ...mapMutations(['setTodos', 'editTodo']),
    save(){
      const todo = {
        id: this.id,
        label: this.label,
        done: false
      }
      this.editTodo(todo)
      this.$router.push('/')
    },
    close(){
      this.$router.push('/')
    },
  }
}

</script>

<style scoped>
.content{
  margin: 2rem;
  align-content: space-between;
}
.textline{
  padding-bottom: 1rem;
}
</style>
